@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import "react-slideshow-image/dist/styles.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins";
}

header{
    height: 15dvh;
}
.navbar{
    display: flex;
    /* border: 1px solid red; */
    width: 96%;
    margin: 0em auto 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 15dvh;
    z-index: 1;

}

.big a.active{
    text-decoration: underline;
    text-underline-offset: .4em;
}

.nav ul{
    list-style: none;
    display: flex;
}

.nav ul li{
    margin: 0 1em;
}

.nav ul a{
    color: black;
    text-decoration: none;
}

.nav ul a:hover{
    text-decoration: underline;
    text-underline-offset: .4em;
}

.icons svg{
    margin: 0 .6em;
    cursor: pointer;
}
.icons svg:hover{
    animation: squish 300ms ease-in-out;
}
.home{
    
    height: 85dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/images/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.home .welcome{
    text-transform: uppercase;
    text-align: center;


}
.benefits-con{
    font-size: 2rem;
    line-height: 1;
    display: flex;
    text-align: center;
    color: white;
    margin-top: 1em;
}
.benefits{
    height: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.benefits span{
    background-color: white;
    color: black;
    animation:  auto-scroll 10s infinite;
}

@keyframes auto-scroll {
    0%{
        transform: translateY(0);
    }
    5%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(-1em);
    }
    30%{
        transform: translateY(-1em);
    }
    35%{
        transform: translateY(-2em);
    }
    55%{
        transform: translateY(-2em);
    }
    60%{
        transform: translateY(-3em);
    }
    80%{
        transform: translateY(-3em);
    }
    85%{
        transform: translateY(-4em);
    }
    100%{
        transform: translateY(-4em);
    }
}
.welcome h1{
    font-size: 6rem;
    color: white;
    font-family: "Lobster", "Poppins";
}

.welcome p{
    color: white;
    font-weight: 700;
}

.arrowDown{
    animation: move 400ms alternate-reverse infinite;
}

.arrowDownCon{
    position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
}

@keyframes move {
    0% {
        transform: translateY(3px);
    }
    100%{
        transform: translateY(0px);
    }
}

.menu-con{
    padding-top: 5em;

}
.menu{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.indiItem {
    flex-grow: 1;
    margin-bottom: 1em;
    max-width: 300px;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 10px;
    /* padding: .4em; */

}
.indiItem .img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;

    width: 100%;
    display: flex;
    justify-content: center;

}

.indiItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 200ms ease-in-out;

}
.indiItem img:hover{
    transform: scale(1.2);
}

.order{
    display: block;
        outline: 0;
        appearance: none;
        padding: 0px 12px;
        border: 0px solid transparent;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        background-color: rgb(9, 128, 76);
        box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 400;
        height: 36px;
        transition: all 150ms ease-in-out 0s;
    
    margin: 1em auto 0 auto;
}

.order:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 97, 73);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px, rgb(195 231 202) 0px 0px 0px 3px;
}

.img-slider-img{
    height: 100%;
    width: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 300ms ease-in-out;
}
.img-slider-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 300ms ease-in-out;
}

.img-slider-btn{
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.img-slider-btn:hover{
    background-color: rgb(0,0,0, 0.2);
}

.img-slider-btn:hover > * {
    animation: squish 200ms ease-in-out;
}
.img-slider-btn > *{
    stroke: white;
    fill: black;
    height: 3rem;
    width: 3rem;
}

@keyframes squish {
    50%{
        scale: 1.4 .6;
    }
}

.switch{
    display: flex;
    gap: .25rem;
}

.dot-icon{
    all: unset;
    display: block;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    transition: scale 100ms ease-in-out;
}

.book{
    display: inline-block;
        outline: 0;
        cursor: pointer;
        border: 2px solid #000;
        border-radius: 3px;
        color: #fff;
        background: #000;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        padding: 12px 20px;
        text-align: center;
        transition-duration: .15s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    
        position: absolute;
        top: 80%;
        right: 15%;
}

.book:hover {
    color: #000;
    background: rgb(255, 218, 87);
}

.dot-icon:hover{
    scale: 1.2;
}
.dot-icon > *{
    stroke: white;
    fill: black;
    height: 100%;
    width: 100%;
}

.check{
    text-align: center;
    text-transform: capitalize;
    margin-top: 1rem;
}

.reserve-con {
    aspect-ratio: 10/4.5;
}

.reservation h4{
    font-size: 3rem;
}

.ham-menu{
    display: none;
}

/*  contact */


.contact-con{
    text-align: center;
    margin-top: 1.5em;
}
.contact-con h1{
    text-transform: uppercase;
}
.contact-message{
    word-spacing: .3em;
}

.contact-con form, .contact-message{
    max-width: 600px;
    margin: 2em auto 0 auto;
}

.contact-con form .name, .message{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2em;

}

.message textarea{
    resize: none;
    width: 100%;
    height: 70px;
    outline: none;
    border: 3px solid gray;
}

#message span{
    color: gray;
}
.name input{
    width: 100%;
    height: 50px;
    outline: none;
    border: 3px solid gray;

}

.name input::placeholder,
.message textarea::placeholder
{
    font-family: "Poppins";
    color: black;
    padding-left: 1em;
}

.contact-con form button{
    display: inline-block;
        outline: 0;
        text-align: center;
        cursor: pointer;
        padding: 17px 30px;
        border: 0;
        color: #fff;
        font-size: 17.5px;
        border: 2px solid transparent;
        border-color: #000;
        color: #000;
        background: transparent;
        font-weight: 800;
        line-height: 30px;
        transition: background, color .1s ease-in-out;
    
        
}

.contact-con form button:hover {
    background-color: #000;
    color: #fff;
}

.success{
    transition: opacity 500ms ease-in-out;
}

/* orders */

.order-con{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 2em auto 0 auto;
}

.order-con .order-img{
    width: 250px;
    height: 250px;
}

.order-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item{
    border: 0.5px solid black;
    flex-grow: 1;
    margin-bottom: 1em;
    padding: .5em;
    border-radius: 7px;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.66);
        -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.66);
        -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.66);

}
.change button{
    padding: 0 .5em;
}
.order-btn{
    width: 100%;
    padding: .5em;
    background-color: rgb(9, 128, 76);
        box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
        color: rgb(255, 255, 255);
        margin-top: .5em;
                font-family: "Poppins";
}

.toppings{
    margin-top: .5em;
}

#orders{
    width: 98%;
    margin: 1em auto;
}

.checkout{
    width: 100%;
    display: inline-block;
        outline: 0;
        cursor: pointer;
        text-align: center;
        border: 0;
        padding: 7px 16px;
        min-height: 36px;
        min-width: 36px;
        color: #ffffff;
        background: #008060;
        border-radius: 4px;
        font-weight: 700;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
        margin-top: 1em;
        text-transform: uppercase;
        font-family: "Poppins";
    
}

.single-con{
    width: 60%;
    margin-top: 2em;
}
.single-order{
    display: flex;
    justify-content: space-between;
    border-bottom:  .5px solid black;
    margin-bottom: 1.5em;
}
.single-order svg{
    cursor: pointer;
}

.single-order svg:hover{
    animation: squish 300ms ease-in-out;
}
.single-order p{
    display: flex;
    align-items: center;
}

.checkout:hover {
    background: #006e52;
}

.buy-now{
    display: inline-block;
        outline: 0;
        cursor: pointer;
        border: none;
        padding: 0 56px;
        height: 45px;
        line-height: 45px;
        border-radius: 7px;
        background-color: #0070f3;
        color: white;
        font-weight: 400;
        font-size: 16px;
        box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
        transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
        margin: 2em auto 0 auto;
        display: block;
    

}

.buy-now:hover {
    background: rgba(0, 118, 255, 0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.founder{
    margin-top: 2em;
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
    margin-left: 5em;
    background-color: lightgrey;

}

.about-femi{
    width: 98%;
    margin: 2em auto 0 auto;

}
.founder img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@media screen and (max-width: 675px) {

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        margin-left: 1em;
        cursor: pointer;
    }
.ham-menu {
        display: block;
        margin-right: 1em;
    }

    .big, .big-icons{
        display: none;
    }

    .ham ul{
        flex-direction: column;
    }

    #ham-con{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        background-color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: transform 200ms ease-in-out;
    }

    .ham-nav{
        display: flex;
        flex-direction: column;
    
    }

    .ham{

        width: 100%;
    }

    .ham ul{

        width: 100%;
        
    }
    .ham ul li{
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
    }

        .ham ul li:hover {
        color: white;
        /* Change text color on hover */
        a{
            color: white;
        }
    }

        .hov::before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            background-color: black;
            width: 0%;
            height: 100%;
            z-index: -1;
            transition: width 300ms ease-in-out;
        }

        .hov:hover::before{
            width: 100%;
        }


                .nav ul a:hover {
                    text-decoration: none;

                }
.ham-icon{
        position: absolute;
        left: 50%;
        translate: -50%;
        bottom: .5rem;
    }

        .benefits-con {
        font-size: 1rem;
    }

    .cancel{
        position: absolute;
        top: 4%;
        right: 4%;
    }



    .reserve-con{
        aspect-ratio: 1/1;

    }

    .welcome h1{
        font-size: 1.8rem;
        margin: 1em;
    }

    .check{
        font-size: 1.5rem;
    }

    .reservation h4{
        font-size: 1.5rem;
    }

    .menu{
        width: 97%;
    }
    .indiItem{
        width: 96%;
        margin: 0 auto 1em auto;
        max-width: 600px;
    }
        .indiItem .img {
            border-radius: 10px;
            overflow: hidden;
            max-width: 700px;
            width: 100%;

            margin: 0 auto;
            
        }

    #message{
        width: 98%;
        margin: 2em auto 1em auto;
    }

    .order-con{
        width: 100%;
        justify-content: center;
    }

    .item-con{
        width: 100%;
    }
    .item{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    
    }
        .order-con .order-img {
            width: 100%;
            height: 250px;
        }

    .single-con {
        width: 98%;
        margin: 2em auto 0 auto;
    }

    .founder{
        margin-left: 0;
    }

}

